<h1>Inserisci nuovo prodotto</h1>

<form method="POST" action="/InsProdotto">
   <p>nome <input type ="text" name="nome" /></p>
   <p>giacenza_minima <input type ="number" name="giacenza_minima" /></p>
   <p>descrizione <input type ="text" name="descrizione" /></p>
   <p>giacenza <input type ="number" name="giacenza" /></p>
   <p>tasso_conversione <input type ="number" name="tasso_conversione" /></p>
   <p>unita_misura <input type ="text" name="unita_misura" /></p>
   <p><input type="submit" value = "Invia" /></p>
</form>
<a href="http://localhost:5000/">Home<a/>